<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.tedu.egmybatis2.mapper.OrderMapper">

    <!-- 添加一個訂單：insert -->
    <insert id="ordersInsert">
        INSERT INTO orders VALUES (NULL ,#{state},#{amount},#{created})
    </insert>

    <!-- 查詢所有訂單：selectAll -->
    <select id="selectAll" resultType="cn.tedu.egmybatis2.pojo.Orders">
        SELECT state ,amount,created FROM orders
    </select>

    <!-- 通過id查詢1個訂單：selectOne -->
    <select id="selectOne" resultType="cn.tedu.egmybatis2.pojo.Orders">
        SELECT state ,amount,created FROM orders WHERE id =#{id}
    </select>

    <!-- 根據id查詢一個訂單,只要訂單的id和訂單的狀態 -->
    <select id="selectById" resultType="cn.tedu.egmybatis2.pojo.OrdersVO">
        SELECT id,state FROM orders WHERE id =#{id}
    </select>

    <!-- 動態修改訂單：dynamicUpdate -->
    <update id="dynamicUpdate">
        UPDATE orders
    <set>
            <if test="state!=null">state=#{state},</if>
            <if test="amount!=null">amount=#{amount},</if>
            <if test="created!=null">created=#{created}</if>
    </set>
        WHERE id =#{id}
    </update>

    <!-- 通過一個id删除訂單：deleteById -->
    <delete id="deleteById">
        DELETE FROM orders WHERE id =#{id}
    </delete>

    <!-- 通過多個id批量删除訂單：deleteMany - 數組 -->
    <delete id="deleteMany">
        DELETE FROM orders WHERE id IN (
            <foreach collection="array" item="id" separator=",">
                #{id}
            </foreach>
            )
    </delete>

    <!-- 通過多個id批量删除訂單：deleteMany - List -->
    <delete id="deleteMany1">
        DELETE FROM orders WHERE id IN (
        <foreach collection="list" item="id" separator=",">
            #{id}
        </foreach>
        )
    </delete>

    <!-- 統計訂單總數：selectCount -->
    <select id="selectCount" resultType="int">
        SELECT COUNT(*)
        FROM orders
    </select>
</mapper>
