<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/element-ui/2.15.9/theme-chalk/index.css">
</head>
<body><div id="app">
    <input type="text" placeholder="姓名" v-model="e.name">
    <input type="text" placeholder="工資" v-model="e.salary">
    <input type="text" placeholder="工作" v-model="e.job">
    <el-button @click="add()">添加</el-button>

    <h3>員工列表</h3>
    <el-table :data="arr">
        <el-table-column type="index" label="編號"></el-table-column>
        <el-table-column prop="name" label="姓名"></el-table-column>
        <el-table-column prop="salary" label="工資"></el-table-column>
        <el-table-column prop="job" label="工作"></el-table-column>
        <el-table-column  label="操作">
            <template slot-scope="scope">
                <el-button
                        size="mini"
                        type="danger"
                        @click="handleDelete(scope.$index, scope.row)">删除</el-button>
            </template>
        </el-table-column>
    </el-table>
</div>
</body>
<!-- import Vue before Element -->
<script src="https://cdn.staticfile.org/vue/2.6.14/vue.min.js"></script>
<!-- import JavaScript -->
<script src="https://cdn.staticfile.org/element-ui/2.15.9/index.min.js"></script>
<script>
    let v = new Vue({
        el: '#app',
        data: function () {
            return {
                e:{name:"",salary:"",job:""},
                arr:[]
            }
        },
        methods: {
            add(){
              v.arr.push({name:v.e.name,salary:v.e.salary,job:v.e.job});
            },
            handleDelete(i,emp){
                if (confirm("您確認要删除"+emp.name+"嗎?")){
                    //splice(位置,數量)  删除數组中的内容
                    v.arr.splice(i,1);
                    v.$message.success("成功删除了!");
                }
            }
        }
    })
</script>
</html>