<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!--引入富文本編輯器相關css-->
    <link href="https://cdn.staticfile.org/wangeditor5/5.1.23/css/style.min.css" rel="stylesheet">

    <style>
        body{
            background-color: rgb(241,242,243);
        }
        .el-header{
            background-color: white;
        }
        .center{
            width: 1200px;margin: 0 auto
        }
        #footer_center h3{
            color: white;
        }
        #footer_center p{
            margin: 0;
        }
    </style>
</head>
<body>
<div id="app">
    <el-container>
        <el-header height="80px">
            <div class="center">
                <el-row gutter="20">
                    <el-col span="6">
                        <img src="imgs/icon.png" width="196" height="65">
                    </el-col>
                    <el-col span="10">
                        <el-menu mode="horizontal" active-text-color="orange">
                            <el-menu-item index="0">首頁</el-menu-item>
                            <el-menu-item index="1">食譜</el-menu-item>
                            <el-menu-item index="2">影片</el-menu-item>
                            <el-menu-item index="3">資訊</el-menu-item>
                        </el-menu>
                    </el-col>
                    <el-col span="6">
                        <el-input style="position: relative;top: 15px" placeholder="請輸入搜索關鍵字">
                            <el-button slot="append" icon="el-icon-search"></el-button>
                        </el-input>
                    </el-col>
                    <el-col span="2">
                        <el-popover
                                placement="top-start"
                                title="歡迎來到烘培坊"
                                width="200"
                                trigger="hover">
                            <div slot="reference">
                                <i style="font-size: 30px;position: relative;top: 20px" class="el-icon-user"></i>
                            </div>
                            <el-button type="info">註冊</el-button>
                            <el-button type="warning">登入</el-button>
                        </el-popover>
                    </el-col>
                </el-row>
            </div>
        </el-header>
        <el-main class="center" style="margin-top: 30px">
            <el-row gutter="10">
                <el-col span="4">
                    <el-card style="height: 1000px">
                        <el-menu @select="handleSelect" style="border: 0" active-text-color="orange">
                            <el-menu-item index="1">
                                個人信息
                            </el-menu-item>
                            <el-menu-item index="2">
                                稿件管理
                            </el-menu-item>
                        </el-menu>
                    </el-card>
                </el-col>

                <el-col span="20">
                    <el-card>
                        <h1 style="color: orange;font-size: 35px">發布文章頁面</h1>
                        <el-form label-width="80px">
                            <el-form-item label="文章標題">
                                <el-input placeholder="請輸入文章標題" style="width: 300px" v-model="c.title"></el-input>
                            </el-form-item>
                            <el-form-item label="文章分類">
                                <el-radio-group v-model="c.type">
                                    <el-radio-button label="食譜"></el-radio-button>
                                    <el-radio-button label="影片"></el-radio-button>
                                    <el-radio-button label="資訊"></el-radio-button>
                                </el-radio-group>
                            </el-form-item>

                            <el-form-item label="二級分類">
                                <el-select>
                                    <el-option label="面包" value="1"></el-option>
                                    <el-option label="家常菜" value="2"></el-option>
                                    <el-option label="小食" value="3"></el-option>
                                </el-select>
                            </el-form-item>
                            <el-form-item label="封面">
                                <!--***************上傳组件開始******************-->
                                <el-upload
                                        action="https://jsonplaceholder.typicode.com/posts/"
                                        list-type="picture-card"
                                        :on-preview="handlePictureCardPreview"
                                        :on-remove="handleRemove">
                                    <i class="el-icon-plus"></i>
                                </el-upload>
                                <el-dialog :visible.sync="dialogVisible">
                                    <img width="100%" :src="dialogImageUrl" alt="">
                                </el-dialog>
                                <!--***************上傳组件结束******************-->
                            </el-form-item>
                            <el-form-item label="文章内容">
                                <!--***********富文本編輯器开始************-->
                                <div style="border: 1px solid #ccc">
                                    <div id="toolbar-container" style="border-bottom: 1px solid #ccc;"><!-- 工具栏 --></div>
                                    <div id="editor-container" style="height: 300px;"><!-- 编辑器 --></div>
                                </div>
                                <!--***********富文本編輯器结束************-->
                            </el-form-item>
                            <el-form-item>
                                <el-button type="primary">發布文章</el-button>
                            </el-form-item>
                        </el-form>
                    </el-card>
                </el-col>
            </el-row>
        </el-main>
        <el-footer style="background-color: #2f3234;height: 280px;padding:50px 0">
            <div class="center" style="text-align: center;color: #666">
                <el-row gutter="20">
                    <el-col span="8">
                        <img src="imgs/icon.png">
                        <p>教程靈感就看烘焙坊</p>
                        <p>烘焙行業網絡社區平台</p>
                        <p>全國百城上千個職位等你来</p>
                    </el-col>
                    <el-col span="8">
                        <el-row gutter="20" id="footer_center">
                            <el-col span="8">
                                <h3>關於我們</h3>
                                <p>關於我們</p><p>烘培學院</p>
                                <p>烘焙食譜</p><p>分類信息</p>
                                <p>求職招聘</p><p>社區交流</p>
                            </el-col>
                            <el-col span="8">
                                <h3>支持與服務</h3>
                                <p>聯繫我們</p><p>廣告投放</p>
                                <p>用戶協議</p><p>友情連結</p>
                                <p>在線反饋</p><p>我發投稿</p>
                            </el-col>
                            <el-col span="8">
                                <h3>底部導航</h3>
                                <p>Archiver</p><p>手機版</p>
                                <p>小黑屋</p>
                            </el-col>
                        </el-row>
                    </el-col>
                    <el-col span="8">
                        <div style="font-size: 58px;margin-top: 30px">
                            <span style="color: orange">烘培</span><span style="color: #666666">坊</span>
                        </div>
                        <p>烘焙行業網络社區平台</p>
                    </el-col>
                </el-row>
            </div>
        </el-footer>
    </el-container>
</div>
</body>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue@2/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<!--引入富文本編輯器相關的js文件-->
<script src="https://cdn.staticfile.org/wangeditor5/5.1.23/index.min.js"></script>

<script>
    let v = new Vue({
        el: '#app',
        data: function () {
            return {
                c:{title:"",type:"食譜"},
                dialogImageUrl: '',
                dialogVisible: false,
            }
        },
        methods: {
            handleSelect(key,keyPath){
                if (key==1) {
                    location.href = "personal.html";
                }else {
                    location.href="articleManagement.html"
                }
            },
            handleRemove(file, fileList) {
                console.log(file, fileList);
            },
            handlePictureCardPreview(file) {
                this.dialogImageUrl = file.url;
                this.dialogVisible = true;
            }
        }
    })

    /**********富文本編輯器相關js開始***********/
    const { createEditor, createToolbar } = window.wangEditor
    const editorConfig = {
        placeholder: '請填寫詳情...',
        onChange(editor) {
            const html = editor.getHtml()
            console.log('editor content', html)
        }
    }
    const editor = createEditor({
        selector: '#editor-container',
        html: '<p><br></p>',
        config: editorConfig,
        mode: 'simple',
    })
    const toolbarConfig = {}
    const toolbar = createToolbar({
        editor,
        selector: '#toolbar-container',
        config: toolbarConfig,
        mode: 'simple',
    })
    /**********富文本編輯器相關js结束***********/
</script>
</html>