<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.tedu._053mvcweibo.mapper.UserMapper">

    <!-- 注册功能：查詢用戶名是否被占用 -->
    <select id="selectByUsername" resultType="cn.tedu._053mvcweibo.pojo.vo.UserVO">
        SELECT id, password, nickname
        FROM user
        WHERE username = #{username}
    </select>

    <!-- 注册功能：插入數據表 -->
    <insert id="insertUser">
        INSERT INTO user
        VALUES (NULL, #{username}, #{password}, #{nickname}, #{created})
    </insert>

</mapper>
