<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.tedu._053mvcweibo.mapper.WeiboMapper">

    <!--發布微博功能-->
    <insert id="insert">
        INSERT INTO weibo
        VALUES (NULL, #{content}, #{created}, #{userId})
    </insert>

    <!--首頁列表展示-->
    <select id="selectIndex" resultType="cn.tedu._053mvcweibo.pojo.vo.WeiboIndexVO">
        SELECT w.id wid,
               w.content,
               u.nickname
        FROM weibo w
                 JOIN user u ON w.user_id = u.id
    </select>

    <!--微博詳情頁展示功能-->
    <select id="selectById" resultType="cn.tedu._053mvcweibo.pojo.vo.WeiboDetailVO">
        SELECT w.id wid,
               w.content,
               u.nickname,
               w.created
        FROM weibo w
                 JOIN user u ON w.user_id = u.id
        WHERE w.id=#{id}
    </select>

</mapper>
