<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.tedu.egmybatis3.mapper.CustomersMapper">

    <insert id="insertCus">
        INSERT INTO customers
        VALUES (#{custId}, #{custTel}, #{custName}, #{address})
    </insert>
    
    <sql id="selectSql">
        SELECT cust_id custId, cust_tel custTel, cust_name custName, address FROM customers
    </sql>
    
    <select id="selectById" resultType="cn.tedu.egmybatis3.pojo.Customers">
        <include refid="selectSql"></include>
        WHERE cust_id=#{custId}
    </select>
    
    <select id="selectByIds" resultType="cn.tedu.egmybatis3.pojo.Customers">
        <include refid="selectSql"></include>
    </select>

    <select id="selectByAddress" resultType="cn.tedu.egmybatis3.pojo.Customers">
        <include refid="selectSql"></include>
        WHERE address=#{address}
    </select>

    <select id="selectByAddressVO" resultType="cn.tedu.egmybatis3.pojo.CustomersVO">
        <include refid="selectSql"></include>
        WHERE address=#{address}
    </select>

    <update id="updateById">
        UPDATE customers
        <set>
            <if test="custTel!=null">cust_tel=#{custTel},</if>
            <if test="custName!=null">cust_name=#{custName}</if>
            <if test="address!=null">address=#{address}</if>
        </set>
        WHERE cust_id=#{custId}
    </update>

    <delete id="deleteByIds">
        DELETE FROM customers WHERE cust_id IN (
            <foreach collection="list" item="custId" separator=",">
                #{custId}
            </foreach>
            )
    </delete>

</mapper>
