<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Ctrl + Shift + Alt + c -->
<!-- namespace:指定映射接口的完整路徑 -->
<mapper namespace="cn.tedu._04mybatis.mapper.UserMapper">
    <!--在用戶表中插入1條數據-->
    <!--id的屬性值必須為接口中方法的名字-->
    <insert id="insertUser">
        INSERT INTO user VALUES (NULL,#{username},#{password},#{nickname},#{created})
    </insert>
</mapper>
