<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/element-ui/2.15.9/theme-chalk/index.css">
    <style>
        body{
            background-color: rgb(241,242,243);
        }
        .el-header{
            background-color: white;
        }
        .center{
            width: 1200px;
            margin: 0 auto
        }
        footer h3{
            color: white;
        }
        #footer_center p{
            margin: 0;
        }
    </style>
</head>
<body>
<div id="app">
    <el-container>
        <my-header></my-header>
        <el-main class="center" style="margin-top: 30px">
            <el-row gutter="10">
                <el-col span="4">
                    <el-card style="height: 500px">
                        <el-menu @select="handleSelect" style="border: 0" default-active="1" active-text-color="orange">
                            <el-menu-item index="1">
                                個人信息
                            </el-menu-item>
                            <el-menu-item index="2">
                                稿件管理
                            </el-menu-item>
                        </el-menu>
                    </el-card>
                </el-col>
                <el-col span="20">
                    <el-card style="height: 500px">
                        <el-form label-width="80px">
                            <el-form-item label="頭像">
                                <img :src="user.imgUrl"
                                     style="float:left;width: 145px;height: 145px;border-radius: 10px">
                                <!--***************上傳組件開始******************-->
                                <!-- action設置上傳圖片的地址
                                     name設置上傳文件的参數名
                                     limit設置上傳文件的數量
                                -->
                                <el-upload style="float: left"
                                           action="/v1/upload"
                                           name="file"
                                           limit="1"
                                           list-type="picture-card"
                                           :on-preview="handlePictureCardPreview"
                                           :on-success="handleSuccess"
                                           :on-remove="handleRemove">
                                    <i class="el-icon-plus"></i>
                                </el-upload>
                                <el-dialog :visible.sync="dialogVisible">
                                    <img width="100%" :src="dialogImageUrl" alt="">
                                </el-dialog>
                                <!--***************上傳組件结束******************-->

                            </el-form-item>
                            <el-form-item label="暱稱">
                                <el-input style="width: 200px" v-model="user.nickName" placeholder="請輸入暱稱"></el-input>
                            </el-form-item>
                            <el-form-item label="用戶名">
                                <el-input style="width: 200px" v-model="user.username" disabled ></el-input>
                            </el-form-item>
                            <el-form-item>
                                <el-button type="primary" @click="save()">保存信息</el-button>
                            </el-form-item>
                        </el-form>
                    </el-card>
                </el-col>
            </el-row>

        </el-main>
        <el-footer style="background-color: #2f3234;height: 280px;padding:50px 0">
            <div class="center" style="text-align: center;color: #666">
                <el-row gutter="20">
                    <el-col span="8">
                        <img src="imgs/icon.png">
                        <p>教程靈感就看烘焙坊</p>
                        <p>烘焙行業網絡社區平台</p>
                        <p>全國百城上千個職位等你来</p>
                    </el-col>
                    <el-col span="8">
                        <el-row id="footer_center">
                                <el-col span="8">
                                    <h3>關於我們</h3>
                                    <p>關於我們</p><p>烘培學院</p>
                                    <p>烘焙食譜</p><p>分類信息</p>
                                    <p>求職招聘</p><p>社區交流</p>
                                </el-col>
                                <el-col span="8">
                                    <h3>支持與服務</h3>
                                    <p>聯繫我們</p><p>廣告投放</p>
                                    <p>用戶協議</p><p>友情連結</p>
                                    <p>在線反饋</p><p>我發投稿</p>
                                </el-col>
                                <el-col span="8">
                                    <h3>底部導航</h3>
                                    <p>Archiver</p><p>手機版</p>
                                    <p>小黑屋</p>
                                </el-col>
                            </el-row>
                    </el-col>
                    <el-col span="8">
                        <div style="font-size: 60px">
                                <span style="color: orange">烘培</span>坊
                            </div>
                        <p>烘焙行業網络社區平台</p>
                    </el-col>
                </el-row>
            </div>
        </el-footer>
    </el-container>
</div>
</body>
<!-- import Vue before Element -->
<script src="https://cdn.staticfile.org/vue/2.6.14/vue.min.js"></script>
<!-- import JavaScript -->
<script src="https://cdn.staticfile.org/element-ui/2.15.9/index.min.js"></script>
<!--引入axios框架文件-->
<script src="https://cdn.bootcss.com/axios/0.18.0/axios.min.js"></script>
<!--引入js文件-->
<script src="js/my-header.js"></script>

<script>
    let v = new Vue({
        el: '#app',
        data: function () {
            return {
                dialogImageUrl: '',
                dialogVisible: false,
                user:localStorage.user?JSON.parse(localStorage.user):null,
                imgUrl:""
            }
        },
        methods: {
            save(){
                //u代表的是需要修改的用戶數據
                let u = {id:v.user.id,nickName:v.user.nickName};
                if (v.imgUrl!=""){ //判斷如果選擇了圖片
                    //選擇了圖片才需要將修改後的圖片路徑保存到u對象當中
                    u.imgUrl = v.imgUrl;
                    //把選擇的圖片賦值给user對象,為了後面更新本地localStorage裡面的數據
                    v.user.imgUrl=v.imgUrl;
                }
                //發請求修改
                axios.post("/v1/users/update",u).then(function (response) {
                    if (response.data.code==1){
                        //更新localStorage裡面的用戶訊息
                        localStorage.user = JSON.stringify(v.user);
                        //刷新頁面
                        location.reload();
                    }
                })
            },

            handleSuccess(response,file,fileList){
                //response代表服務器響應的JsonResult
                //response.data得到上傳成功時服務器響應的圖片路徑
                v.imgUrl = response.data;
            },

            handleSelect(key,keyPath){
                if (key==2){
                    location.href="articleManagement.html";
                }
            },

            handleRemove(file, fileList) {
                v.imgUrl="";
                console.log(file, fileList);
                //發出刪除文件的請求，需要將圖片的路徑傳遞給服務器
                //file.response代表服務器響應的内容(JsonResult)
                axios.post("/v1/remove?url="+file.response.data).then(
                    function (response) {
                        //response.data代表服務器響應內容
                    if (response.data.code==1){
                        v.$message.success("服務器文件刪除成功!");
                    }
                })
            },

            handlePictureCardPreview(file) {
                this.dialogImageUrl = file.url;
                this.dialogVisible = true;
            }
        }
    })
</script>
</html>