<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.tedu.boot01.mapper.WeiboMapper">
    <select id="select"
            resultType="cn.tedu.boot01.pojo.vo.WeiboVO">
        SELECT w.id,content,nickname
        FROM weibo w JOIN user u ON w.user_id=u.id
    </select>

    <insert id="insert">
        INSERT INTO weibo VALUES (NULL,#{content},#{created},#{userId})
    </insert>

</mapper>
