<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.tedu._052mvcboot02.mapper.UserMapper">

    <!--添加用戶-->
    <insert id="insertUser">
        INSERT INTO user
            VALUE (NULL ,#{username},#{password},#{nickname},#{created})
    </insert>

    <!--查詢用戶列表-->
    <select id="selectUserList" resultType="cn.tedu._052mvcboot02.pojo.entity.User">
        SELECT*FROM user
    </select>

    <!--删除用戶-->
    <delete id="deleteUser">
        DELETE FROM user WHERE id=#{id}
    </delete>

    <!--更新用戶-->
    <update id="updateUser">
        UPDATE user
        <set>
            <if test="username!=null and username!=''">username=#{username},</if>
            <if test="password!=null and password!=''">password=#{password},</if>
            <if test="nickname!=null and nickname!=''">nickname=#{nickname}</if>
        </set>
        WHERE id = #{id}
    </update>

    <!--根據 id查詢用戶信息-->
    <select id="selectById" resultType="cn.tedu._052mvcboot02.pojo.entity.User">
        SELECT*FROM user WHERE id =#{id}
    </select>

</mapper>
