<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <input type="text" v-model="e.name">
    <input type="text" v-model="e.salary">
    <input type="text" v-model="e.job">
    <input type="button" value="添加" @click="add()">
    <table border="1">
        <caption>員工列表</caption>
        <tr>
            <th>編號</th>
            <th>姓名</th>
            <th>工資</th>
            <th>工作</th>
        </tr>
        <tr v-for="(emp,i) in arr">
            <td>{{i+1}}</td>
            <td>{{emp.name}}</td>
            <td>{{emp.salary}}</td>
            <td>{{emp.job}}</td>
        </tr>
    </table>
</div>
<script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
<script>
    let v = new Vue({
        el:"body>div",
        data:{
            info:"",
            arr:[{name:"劉備",salary:3000,job:"銷售"},
                    {name:"關羽",salary:5000,job:"人事"},
                    {name:"張飛",salary:13000,job:"工程師"}],
            e:{name:"",salary:"",job:""}
        },
        methods:{
            add(){
                v.arr.push({name:v.e.name,salary:v.e.salary,job:v.e.job});
            }
        }
    })
</script>
</body>
</html>